/*--This will serve as our core css 
*/

$body-color:#F7A8A7;
$background-color : #44B298;
$topbar-margin-top-one: 1em;
$topbar-margin-left-one:1em;
$topbar-margin-bottom-one:1em;
$list-group-item-background-color:#f8f9fa;
$generic-font-weight:100!important;
$border-style-button:2px !important;
$text-style-button:uppercase;
$label-bg-color:#F7B6B6!important;
